// colors
$black: #000;
$white: #fff;
$white2: #cdcdcd;
$gray: #a29f9f;
$lightGray: #d7d2d236;
$dark_blue: #06060d;
$lightBlack: #000000de;
$primary: #ba7c08;
$primary2: rgba(0, 255, 234, 1);
$secondary: #00ffea44;

//font weight
$BOLD: 700;
$SEMI_BOLD: 600;
$REGULAR: 500;
$BASE: 400;
$SMALL: 300;
